Msg.FileUpload/Service References/WcfUpload/UploadFile2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://file.meisugou.com/UploadFile.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" />
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="attachmen" nillable="true" type="q1:AttachmentsEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="UploadFileResult" nillable="true" type="q2:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deletefile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletefileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletefileResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="albumid" type="xs:int" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAlbumid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MovePhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MovePhotoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAvatar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="avatartype" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAvatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAvatarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeiboAvatar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="Avatarurl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WeiboAvatarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WeiboAvatarResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="albumid" type="xs:int" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="SavePhotoResult" nillable="true" type="q3:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="albumid" type="xs:int" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePhotoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="albumid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteAlbumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMakeThumbnailImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="attachmen" nillable="true" type="q4:AttachmentsEntity" />
        <xs:element minOccurs="0" name="maxHeight" type="xs:int" />
        <xs:element minOccurs="0" name="maxWidth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadMakeThumbnailImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="UploadMakeThumbnailImageResult" nillable="true" type="q5:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeSmailImageByMaxWidthLogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="attachmen" nillable="true" type="q6:AttachmentsEntity" />
        <xs:element minOccurs="0" name="maxWidth" type="xs:int" />
        <xs:element minOccurs="0" name="logo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeSmailImageByMaxWidthLogoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="MakeSmailImageByMaxWidthLogoResult" nillable="true" type="q7:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeSmailImageByMaxWidth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="attachmen" nillable="true" type="q8:AttachmentsEntity" />
        <xs:element minOccurs="0" name="maxWidth" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeSmailImageByMaxWidthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" minOccurs="0" name="MakeSmailImageByMaxWidthResult" nillable="true" type="q9:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>