Msg.FileUpload/Service References/WcfNewFileUpload/NewFileUpload.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Lib.File.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NewAttachmentsEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Root" type="xs:int" />
      <xs:element minOccurs="0" name="Salt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewAttachmentsEntity" nillable="true" type="tns:NewAttachmentsEntity" />
  <xs:complexType name="NewMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewMessage" nillable="true" type="tns:NewMessage" />
  <xs:complexType name="RecordImgMsg">
    <xs:sequence>
      <xs:element minOccurs="0" name="fileSrc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxH" type="xs:int" />
      <xs:element minOccurs="0" name="maxW" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordImgMsg" nillable="true" type="tns:RecordImgMsg" />
</xs:schema>